doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootflat.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    .container
      block content
    